.contacts {
  position: relative;


    &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $second-color-light;

    @media (min-width: $screen-md) {
      padding-bottom: 30px;
      font-size: 24px;
      line-height: 31px;
    }
  }

  &__title:after {
    content: '';
    width: 80px;
    border: 2px solid $third-color;
    align-self: center;
    margin-top: 5px;
  }

  &__box {

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: center;
    }
  }

  &__descr {
    padding-left: 40px;
    padding-bottom: 30px;
    max-width: 200px;
  }

  &__subtitle {
    padding-top: 27px;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: $second-color-light;

    @media (min-width: $screen-md) {
      padding-top: 35px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__text {
    margin: 7px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $second-color-light;


    @media (min-width: $screen-md) {
      margin: 10px 0;
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__address-link {
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: $third-color;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__social-link {
    display: block;
    fill: #606060;
    padding-top: 27px;
    width: 45px;
    height: 40px;
    transition: all .3s;
  }

  &__social-link:hover {
    fill: $third-color;
  }

  &__map-wrap {
    border-radius: 10px;
    overflow: hidden;

    @media (min-width: $screen-md) {
      margin-left: 40px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 200px;
    }
  }

  &__map {
    width: 100%;
    height: 230px;


    @media (min-width: $screen-md) {
      width: 400px;
      height: 500px;
    }
  }
}
